/* ********** RECIPES ********** */

.recipe-list {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat(3, 1fr);
    gap: 22px 18px;
    line-height: 1.2;
}

.recipe-box {
    width: 100%;
    min-width: 230px;
    border: 1px solid #87ACB0;
    border-radius: 4px;
    background-color: #FFFFFF;
    overflow: hidden;
}

/* Recipe-img */
.recipe-img-container {
    aspect-ratio: 5/4;
    margin-bottom: 12px;
    border-bottom: 1px solid #87ACB0;
}

/* Recipe-info */
.recipe-info {
    /* display: flex; */
    /* justify-content: space-between; */
    line-height: 1;
    padding: 0 12px;
    margin-bottom: 12px;
}

.recipe-name {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

    .recipe-name a {
        color: #87ACB0;
        text-decoration: none;
    }

    .recipe-name a:hover {
        text-decoration: underline;
    }

.recipe-creator {
    font-style: italic;
}

.recipe-creator a {
    color: #000000;
    text-decoration: none;
}

.recipe-creator a:hover {
    text-decoration: underline;
}

.recipe-like {
    font-size: 16px;
    font-style: italic;
    align-self: center;
    color: #a7babd;
    margin-bottom: 20px;
}

.recipe-like button {
    color: #87ACB0;
}

.recipe-like button:hover {
    color: #C08497;
}

/* Recipe-btns */
/* .recipe-btns {
    display: flex;
    justify-content: space-evenly;
    padding: 0 12px;
    margin-bottom: 16px;
}

.view-btn {
    font-size: 18px;
    display: block;
    width: 100%;
}

.edit-btn, .delete-btn {
    font-size: 18px;
    width: 45%;
    margin-right: 0;
} */

.view-btn:hover, .edit-btn:hover {
    color: #3b8e96;
}

.delete-btn:hover {
    color: #DC3545;
}

/* ********** WISHLIST COLORS ********** */
.wishlist .recipe-box {
    border-color: #C08497;
}

.wishlist .recipe-img img {
    border-color: #C08497;
}

.wishlist .recipe-name a {
    color: #C08497;
}


/* ********** RESPONSIVE ********** */

@media screen and (max-width: 800px) {
    .recipe-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 540px) {
    .recipe-list {
        grid-template-columns: none;
    }
}
