/* Main
.................................................. */
main {
    text-align: justify;
}

    main .content-wrap {
        max-width: 800px;
    }

/* Banner */
.banner {
    width: 100%;
    height: 300px;
}

    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /*vertical-align: bottom;*/
    }

/* Introduction */
#introduction h2 {
    color: #C08497;
    text-align: center;
}

#introduction p {
    font-size: 1.2rem;
    text-align: center;
}

/* Macarons line */
.macarons-line {
    /* padding: 0 35px; */
    margin: 60px auto;
    text-align: center;
}

.first-macarons-line {
    margin-top: 0 !important;
}

.second-macarons-line {
    margin-bottom: 0 !important;
}

.macarons-line img {
    width: 70%;
}


/* Responsive
-------------------------------------------------- */
@media screen and (max-width: 600px) {
    main .content-wrap {
        padding: 24px 0;
    }

    h2 {
        margin-bottom: 12px;
    }
    
    .macarons-line {
        margin: 26px;
    }
    
    .macarons-line img {
        width: 50%;
    }
}